<p>user-register works!</p>

<div *ngIf="auth.currentUser != null else registerUser">
  <h1>hello</h1><br>
  <a routerLink="userInfo">Info</a>
  <br>
  <button (click)="signOut()">Sign Out</button>
</div>


<ng-template #registerUser>
  <p>Name: </p><input type="text" [(ngModel)]="user.name">
  <p>Email: </p><input type="email" [(ngModel)]="user.email">
  <p>Password: </p><input type="password" [(ngModel)]="password">
  <p>Tel: </p><input type="tel" [(ngModel)]="user.tel">
  <button (click)="register(user,password)">Register</button>
</ng-template>




