<mat-grid-list cols="4" rowHeight="300px" margen="30px">
  <mat-grid-tile *ngFor="let m of movies">
    <mat-card>
      <mat-card-header>{{m.name}}</mat-card-header>

      <img mat-card-md-image src="">

      <mat-card-content>
        <span>Length: {{m.length}}</span><br>
        <span>Price: {{m.price}}</span>
      </mat-card-content>

      <mat-card-actions>
        <button mat-mini-fab [routerLink]="'/ordering/'+ m.id">Order ticket</button>
      </mat-card-actions>

    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


