
<ion-header style="margin:20px" routerLink="">Some Where Cinema</ion-header>
<hr>
<div *ngIf="auth.currentUser">
  <a routerLink="" style="margin:5px">Home</a>
  <a routerLink="user" style="margin:5px">User</a>
  <a routerLink="movie" style="margin:5px">Movie</a>
  <a routerLink="ordering" style="margin:5px">Order</a>
  <button (click)="logout()">LogOut</button>
</div>
<div *ngIf="auth.currentUser == null">
  <ion-nav-link routerLink="userRegister" style="margin:5px">Register</ion-nav-link>
  <ion-nav-link routerLink="userLogin" style="margin:5px">Login</ion-nav-link>
</div>
<hr>

<router-outlet></router-outlet>

