<span>
  <span style="margin:20px">Some Where Cinema</span>
  <a routerLink="" style="margin:5px">Home</a>
  <a routerLink="user" style="margin:5px">User</a>
  <a routerLink="movie" style="margin:5px">Movie</a>
  <a routerLink="ordering" style="margin:5px">Order</a>
</span>

<!--<span *ngIf="(userService.() != null) else register">-->
<!--  Welcome {{userService.()}}-->
<!--  <button routerLink="/"  (click)="userService.logOut()">Log Out</button>-->
<!--</span>-->

<!--<ng-template #register>-->
  <a routerLink="userRegister" style="margin:5px">Register</a>
  <a routerLink="userLogin" style="margin:5px">Login</a>
<!--</ng-template>-->


<router-outlet></router-outlet>
